{% extends base_template %}

        {% block stylesheets %}
            {{ parent() }}
                {% stylesheets
                        'css/style.css'
                        'css/data_tables/style-table.css'
                %}
					<link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
					<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
                {% endstylesheets %}
			
				<style>
					.no-padding{padding:0!important;}
					.selectable{width: 100%;padding:8px;position: relative;cursor:pointer;}
					.btnover{ position: relative; margin: 10 auto;	}
					.overbox{display: none; background: rgba(0, 136, 204, 0.5); position: absolute; top: 0; left: 0; width: 100%;text-align: center; padding:5px;}
					.color-deactive{color: #ff0000;}
					.color-active{color: green; }
					.form-group input {width: 450;}
					.form-group {margin-top: 10px;}
					.principale{background: #fafafa;border: solid 1px #eee;padding:20px;}
					
					.tail_screenshot{
							-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
							-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
							box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
							position: absolute;
							float: left;
							z-index:9999;
						}
					.noLanding{
							background-color: #fff;
							padding: 10px; 
							-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
							-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
							box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
						}
					.mini-loader {
							border: 10px solid #f3f3f3; /* Light grey */
							border-top: 10px solid #3498db; /* Blue */
							border-radius: 50%;
							width: 50px;
							height: 50px;
							animation: spin 2s linear infinite;
						}

					.mini-loader1 {
						border: 10px solid #f3f3f3; /* Light grey */
						border-top: 10px solid #3498db; /* Blue */
						border-radius: 50%;
						width: 60px;
						height: 60px;
						animation: spin 2s linear infinite;
					}

						@keyframes spin {
							0% { transform: rotate(0deg); }
							100% { transform: rotate(360deg); }
						}
						

						/* Standard mismod */
						@keyframes mismod {
						  from {background-color: #ffa500;}
						  to {background-color: #ffa50000;}
						}
						.panel-message p {
							text-align:center;
						}
						.panel-message table {
							text-align:left;
							margin:0 auto;
						}
						
						#search-result {
							max-width:100%;
							width:100%;
						}
						#search-result table td, #search-result table  th{
							text-align:center;
							padding:6px;
						}
						
						.search-row-blk {
							display:none;
						}
						.search-row-blk.active {
							display:block;
						}
						.add-and-row{
							text-align:right;
							cursor:pointer;
						}
						.remove-and-row{
							display:none;
							text-align:right;
							cursor:pointer;
						}
						.second-field-active .add-and-row{
							display:none;
						}
						.second-field-active .remove-and-row {
							display:block;
						}
						.add-and-row, .remove-and-row {
							float:right;
							padding:12px 20px;
							clear:both;
						}
						
						.panel-heading.col-md-12, .panel-heading.col-md-12 > div {
							float:none;
						
						}
						.panel-body {
							padding: 0px;
						}
						#search-container, #search-result {
							padding:15px;
						}
						#search-container {
							background-color:#ccc;
						}
						.sceglicampo{
							margin-bottom:20px;
							width: 10%;
						}
						.value-blk {
							margin-bottom:3px;
						}
						.filtro, .value-blk {
						margin-bottom:6px;
						}
						.value-blk {
							width: auto;
						}
						.value-filter-int {
							width: auto;
						}
						.value-filter-ext {
							width: auto;
						}
						#searchThis {text-align:center;
						}
						
						.bl-etichetta{
							margin-left:5px;padding:5px 12px;text-transform:uppercase;font-size:10px;
							border:1px solid #999;
							color:#FFF;
							float:right;
							position:relative;
							top:-3px;
							
						}
						.show-blacklist{
							border:none !important;
							text-align:left !important;
							margin:0px !important;
							color:red;
							padding:0px !important;
							font-size:90%;
						}
						.bl-etichetta-green {
							background-color:green;
						}
						.bl-etichetta-red{
							background-color:red;
						}
						.table-blk{width:100%;}
						table.table-blk{width:100%;    table-layout: fixed;}
						td.header-v{ width:140px;}
						td.body-v{}
						td.body-v > h4 {text-align:left;font-size:14px;margin: 0px;padding:6px 0px;}
						td.body-v > div:not(.contatto-button) {border:1px solid #999;border-left:none; margin: 10px 0px;}
						.contatto-button{
							border-top:1px solid #999;
							background-color:#CCC;
							display:inline-block;
							width:100%;
							margin-bottom:-6px;
						}
						.contatto-button button {float:right;margin:5px;}
						.contatto-button button:last-child {margin-right:0px;}
						td.body-v > div.contatto-dati > div:not(.typoOfT) {overflow-x:auto;}
						td.body-v > div.contatto-dati > div > table {}
						td.body-v > div {padding-left:30px;position:relative;}
						td.body-v > div > div.typoOfT {position:absolute; width:30px;height:100%;background-color:#ccc;left:0px;}
						td.body-v > div > div.typoOfT > span{position:absolute;height:30px;top:calc(50% - 18px);left:6px;transform:rotate(-90deg);font-weight:bold;}
						.blk-button-rev-this, .blk-button-this {display:none;}
						tr.blacklisted .blk-button-rev-this, tr.not-blacklisted .blk-button-this {display:block;}

						td.body-v > div > div.typoOfT > span{position:absolute;height:30px;top:calc(50% - 18px);left:6px;transform:rotate(-90deg);font-weight:bold;}
						.blk-button-rev, .blk-button {display:none;}
						tr.blacklisted .blk-button-rev, tr.not-blacklisted .blk-button {display:block;}

						.contatto-tr-title, .contatto-tr-data {
							border:1px solid #999;
						}
						.empty-row {
							background-color:#FFF;
							border-top:2px solid #999;
							min-height:30px;
						}
						.empty-row td{
							min-height:30px;
							padding:15px !important;
						}
						
						#search-result .contatto-tr-title > td, #search-result .contatto-tr-title > th, #search-result .contatto-tr-data > td,  #search-result .contatto-tr-data > th{
							padding:7px;
						}
						 #search-result .contatto-tr-data > td.body-v{
							padding:0px;
						 }
						  #search-result .contatto-tr-data > td.body-v th {
							background-color:#ccc;
						  }
						.contatto-tr-title{
							border-bottom:1px solid #999;
							background-color:#ccc;
							
						}
						.contatto-tr-title b{
						}
						.contatto-tr-title div{
						    padding: 6px 0px;
						}
						.contatto-tr-data {
							border-top:none;
							background-color:#FFF;
						}
						
						#search-result .contatto-tr-data .body-v {
							text-align:left;
						}
						.contatto-usi {
							text-align: left;
							display: inline-block;
							margin-top:0px !important;
							border-bottom:none !important;
							border-right:none !important;
						}
						.contatto-dati  {
							border-right:none !important;
						}
						.contatto-usi div:not(.typoOfT) {
							display: inline-block;
							margin-bottom: -5px;
						}
						.contatto td {
						    white-space: nowrap;
						}
						.contatto-tr-data table{
							background-color:#FFF;
						}
						.contatto-tr-data table td, .contatto-tr-data table th{
							border:1px solid #999;
						}
						.contatto-tr-data table th{
							border-top:none;
						}
						.contatto-tr-data table .contatto-usi td{
							border-bottom:none;
						}
						tr.blacklisted{border-left:4px solid red;}
						tr.not-blacklisted{border-left:4px solid green;}
						tr.non-recente { border-left:3px solid red;}
						tr.recente { border-left:3px solid green;}
						#interne > h4, #esterne > h4{
							text-transform:uppercase;
							padding:12px;
							margin-bottom:15px;
							background-color: #5b6d84;
							color: #FFF;
						}
						#interne > h4 small, #esterne > h4 small{
							text-transform:lowercase;
							color: #FFF;
							
						}
						.Log-non-presente .copialog{
							display:none;
						}
						#loader-id-blacklister {
							position: absolute;
							top: 50%;
							left: 50%;
							font-size: 50px;
							color: white;
							transform: translate(-50%,-50%);
							-ms-transform: translate(-50%,-50%);
						}
						#overlay {
							position: fixed;
							display: none;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							background-color: rgba(0,0,0,0.5);
							z-index: 2;
							cursor: pointer;
						}
				</style>
        {% endblock %}
        {% block content %}
	<div class="container theme-showcase crea-miscelata" role="main" id="blacklister_maker_container">

		<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading col-md-12">
					<div class="col-md-12">
						<h3>Blacklister {% if ProdId and ProdAmbiente %} Check produzione {% endif %}</h3>
						<small id="TitleHelp" class="form-text text-muted"><em><span style="text-decoration: underline;"><strong>Nota :</strong></span></em> E' possibile effettuare una ricerca con il like solo sul cellulare solo come prrimo parametro.</small>
					</div>
				</div>
				<br><br>
				<div class="col-md-12 panel-message" onclick="hideMessage()" style="display: none;"></div>
				<div class="panel-body">
					<div id="search-container">
						<h4>Cerca Contatto</h4>
						<div class="search-row-blk active" id="search-row-blk1">
							<select class="sceglicampo">
								<option value="cellulare" selected="selected">Cellulare</option>
								<option value="email">Email</option>
								<option value="nome">Nome</option>
								<option value="cognome">Cognome</option>
							</select>
							<input id="cerca-txt" class="value-blk form-control" type="text" value="" placeholder="" style="display:block;width: 180px"><br>
							<textarea id="TxtArea" class="value-blk form-control" rows="4" cols="50" value="" placeholder="" style="display:none"></textarea>
							<div id="ch-multiriga" class="multiriga">
{#									<input id="check-multiriga" type="checkbox" > &nbsp;Modalità multiriga#}
								<label for="check-multiriga" style="font-size: 15px">Modalità multiriga</label><br>
									<input type="checkbox"  id="check-multiriga" data-on="Attiva" data-off="Disattiva" data-toggle="toggle">

							</div>
							<br /><br />
							<div id="scegli">
								<h4> Scegli dove effettuare la ricerca: </h4>
							</div>

							<div  id="filtro" class="filtro">
{#								<input class="value-filter-int" id="cont-int" type="checkbox" value="int" checked style="display:block"> &nbsp;Anagrafiche interne#}
{#								&nbsp;&nbsp;&nbsp;&nbsp;#}
{#								<input class="value-filter-ext" id="cont-ext" type="checkbox" value="est" checked style="display:block"> &nbsp;Anagrafiche esterne#}
								<input class="value-filter-int" type="checkbox"  id="cont-int" value="int" data-on="Si" data-off="No" data-toggle="toggle" checked style="display:block">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="cont-int">Anagrafiche Interne</label>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<input class="value-filter-ext" type="checkbox"  id="cont-ext" value="est" data-on="Si" data-off="No" data-toggle="toggle" checked style="display:block">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="cont-int">Anagrafiche Esterne</label>



							</div>

							<div id="info" style="text-align:right">

							</div>
							<br><br>
							<script>

							</script>
						</div>
						<div class="add-and-row">Aggiungi campo di ricerca</div>
						
						<div class="search-row-blk second-search-row-blk" id="search-row-blk2">
							<select class="sceglicampo"><option value="cellulare"  selected="selected">Cellulare</option><option value="email">Email</option><option value="nome">Nome</option><option value="cognome">Cognome</option></select>
							<input class="value-blk form-control" type="text" value="" placeholder="">
						</div>
						<div class="remove-and-row">Rimuovi campo di ricerca</div>
						<button id="searchThis" class="btn btn-primary">cerca</button>
						<button id="clearScreen" class="btn btn-secondary" style="float:right;">clear</button>
					</div>
					
					<div id="search-result">
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script>
		 function hideMessage(){
			$('.panel-message').slideUp();
		 }
		 
		
		
	$(function() {
		var ajaxrun = false;
	
		
			{% if messaggio %}
				show_message($('{{ messaggio[0] | raw}}'), "{{ messaggio[1] }}", {{ messaggio[2] }});
			{% endif %}
			{% if ProdId and ProdAmbiente %}
				
					var data_send = {};
					data_send["first-field"]='id';
					data_send["first-value"]={{ ProdId }};
					data_send["filter-ext"]='est';
					data_send["filter-int"]='int';
					data_send["second-field"]='prodambiente';
					data_send["second-value"]='{{ ProdAmbiente }}';

					var url_search = '{{admin.generateUrl('searchContactAll')}}';
					$('#search-result').html('<p>Searching dbs</p><div class="mini-loader"></div>');
					$.ajax({url: url_search,
						data: data_send,
						success: function(risposta){
							//console.log(risposta);
							$('#search-result').html(risposta['contatti-intHtml']);
							
							
						
						},
						 complete: function(){
						}
					});
				
			{% endif %}
				
			
	})
		 $(function(event) {
			 $('#cont-int').bootstrapToggle({on: 'Si', off: 'No'})
			 $('#cont-int').change(function() {
				 if($(this).prop('checked')){
					 $('#cont-int').val('int');
				 }
				 else{
					 $('#cont-int').val('');
				 }
			 })
		 });

		 $(function(event) {
			 $('#cont-ext').bootstrapToggle({on: 'Si', off: 'No'})
			 $('#cont-ext').change(function() {
				 if($(this).prop('checked')){
					 $('#cont-ext').val('est');
				 }
				 else{
					 $('#cont-ext').val('');
				 }
			 })
		 });


		 $(function(event) {
			 $('#check-multiriga').bootstrapToggle({on: 'Attiva', off: 'Disattiva'})
			 $('#check-multiriga').change(function() {
				 if($(this).prop('checked')){
					 $('#cerca-txt').removeClass();
					 $('#TxtArea').addClass('value-blk form-control');
					 $('#cerca-txt').attr('style','display:none');
					 $('#cerca-txt').val('');
					 $('#TxtArea').attr('style','display:block');
					 $('#searchThis').attr('id','searchAll');
					 $('#filtro').attr('style','display:none;text-align:right');
					 $('#info').attr('style','display:block;text-align:right');
					 $('#info').append("<p id='info-txt'><B>La ricerca verrà effettuata automaticamente in tutte le anagrafiche</B></p>")
					 $('#scegli').attr('style','display:none');
					 $('.blk-button btn btn-primary').removeClass();
				 }
				 else{
					 $('#TxtArea').removeClass();
					 $('#cerca-txt').addClass('value-blk form-control');
					 $('#TxtArea').attr('style','display:none');
					 $('#TxtArea').val('');
					 $('#cerca-txt').attr('style','display:block');
					 $('#searchAll').attr('id','searchThis');
					 $('#scegli').attr('style','display:block');
					 $('#filtro').attr('style','display:block');
					 $('#info').attr('style','display:block;text-align:right');
					 $('#info-txt').remove();
				 }
			 })
		 });


	// $(document).on('ifChecked', '#check-multiriga', function(event) {
	// 	$('#cerca-txt').removeClass();
	// 	$('#TxtArea').addClass('value-blk form-control');
	// 	$('#cerca-txt').attr('style','display:none');
	// 	$('#cerca-txt').val('');
	// 	$('#TxtArea').attr('style','display:block');
	// 	$('#searchThis').attr('id','searchAll');
	// 	$('#filtro').attr('style','display:none;text-align:right');
	// 	$('#info').attr('style','display:block;text-align:right');
	// 	$('#info').append("<p id='info-txt'><B>La ricerca verrà effettuata automaticamente in tutte le anagrafiche</B></p>")
	// 	$('#scegli').attr('style','display:none');
	// 	$('.blk-button btn btn-primary').removeClass();
	// });
	//
	// $(document).on('ifUnchecked', '#check-multiriga', function(event) {
	// 	$('#TxtArea').removeClass();
	// 	$('#cerca-txt').addClass('value-blk form-control');
	// 	$('#TxtArea').attr('style','display:none');
	// 	$('#TxtArea').val('');
	// 	$('#cerca-txt').attr('style','display:block');
	// 	$('#searchAll').attr('id','searchThis');
	// 	$('#scegli').attr('style','display:block');
	// 	$('#filtro').attr('style','display:block');
	// 	$('#info').attr('style','display:block;text-align:right');
	// 	$('#info-txt').remove();
	//
	// });

	$(document).on('ifChecked', '#cont-int', function(event) {
		$('#cont-int').val('int');
	});

	$(document).on('ifChecked', '#cont-ext', function(event) {
		$('#cont-ext').val('est');
	});

	$(document).on('ifUnchecked', '#cont-ext', function(event) {
		$('#cont-ext').val('');
	});

	$(document).on('ifUnchecked', '#cont-int', function(event) {
		$('#cont-int').val('');
	});


	$(document).on('click','#clearScreen', function (){
		$('#cerca-txt').val('');
		$('#TxtArea').val('');
		$('#search-result').empty();
	});


	$(document).on('click', '#searchThis', function(){
			var ok=check_fields_ok();
			if(ok==true){
				var data_send = {};
				var count=1;
				$('.search-row-blk.active').each(function(){
					if(count==1){
						data_send["first-field"]=$(this).find('select.sceglicampo').val();
						data_send["first-value"]=$(this).find('.value-blk').val();
						data_send["filter-int"]=$(this).find('.value-filter-int').val();
						data_send["filter-ext"]=$(this).find('.value-filter-ext').val();
					}else{
						data_send["second-field"]=$(this).find('select.sceglicampo').val();
						data_send["second-value"]=$(this).find('.value-blk').val();
					}
					 count= count+1;
				});
				var url_search = '{{admin.generateUrl('searchContact')}}';
				$('#search-result').html('<p>Searching dbs</p><div class="mini-loader"></div>');
				$.ajax({url: url_search,
					data: data_send,
					success: function(risposta){
						//console.log(risposta);
						$('#search-result').html(risposta['contatti-intHtml']);
						
						
					
					},
					 complete: function(){
					}
				});
			}
	});

		 $(document).on('click', '#searchAll', function(){
			 var ok=check_fields_ok_all();
			 if(ok==true){
				 var data_send = {};
				 var count=1;
				 $('.search-row-blk.active').each(function(){
					 if(count==1){
						 data_send["first-field"]=$(this).find('select.sceglicampo').val();
						 data_send["first-value"]=$(this).find('.value-blk').val();
					 }else{
						 data_send["second-field"]=$(this).find('select.sceglicampo').val();
						 data_send["second-value"]=$(this).find('.value-blk').val();
					 }
					 count= count+1;
				 });
				 var url_search = '{{admin.generateUrl('searchContactAll')}}';
				 $('#search-result').html('<p>Searching dbs</p><div class="mini-loader"></div>');
				 $.ajax({
					 url: url_search,
					 data: data_send,
					 success: function(risposta){
						 //console.log(risposta);
						 $('#search-result').html(risposta['contatti-intHtml']);



					 },
					 complete: function(){
					 }
				 });
			 }
		 });







	$(document).on('click', '.add-and-row', function(){
		$('#ch-multiriga').attr('style','display:none');
		$('#search-container').addClass('second-field-active');
		$('.second-search-row-blk').addClass('active');
	});
	$(document).on('click', '.remove-and-row', function(){
		$('#ch-multiriga').attr('style','display:inline');
		$('#search-container').removeClass('second-field-active');
		$('.second-search-row-blk').removeClass('active');
		
	});
	
	$(document).on('click', '.copialog', function(){
		var copyText = $(this).closest('.contatto-button').find('.copialog-data');
		 /* Select the text field */
		 copyText.select();
		 /* Copy the text inside the text field */
		 document.execCommand("copy");
  
   });
	$(document).on('click', 'tr.not-blacklisted .blk-button', function(){

			var data_send = {};
			var count=1;
			if($(this).closest('#interne').length>0 || $(this).closest('#esterne').length>0) {
				data_send["id"] = $(this).closest('tr.not-blacklisted').attr('data-id');
				data_send["cell"] = $(this).closest('tr.not-blacklisted').attr('data-cell');
				data_send["type"] = "all";
			}

			// if($(this).closest('#interne').length>0){
			// 	//data_send["type"]="int";
			// 	data_send["id"] = $(this).closest('tr.not-blacklisted').attr('data-id');
			// 	data_send["cell"]= $(this).closest('tr.not-blacklisted').attr('data-cell');
			// }else{
			// 	//data_send['type']='est';
			// 	data_send['id'] = $(this).closest('tr.not-blacklisted').attr('data-id');
			// 	data_send['cell']=$(this).closest('tr.not-blacklisted').attr('data-cell');
			// 	//data_send['cell']='';
			// }

			var url_bl = '{{admin.generateUrl('blacklist')}}';
			$(this).text('blacklistando');
			$('#overlay').attr("style","display:block");

			$.ajax({
				url: url_bl,
				data: data_send,
				success: function(risposta){
					console.log(risposta);
					// if(risposta['type']=='int'){
					// 	var type='interne';
					// }else{
					// 	var type='esterne';
					// }
					if (risposta['type']=='all'){
						var type='all';
					}

					var Ok=0;
					if(risposta['id']!='' && risposta['statusid']=='ok'){
						$('#'+type+' tr.contatto-tr-title.not-blacklisted[data-id="'+risposta['id']+'"] .body-v').append('<div class="show-blacklist">Blacklistato ora</div>');
						$('#'+type+' tr.contatto-tr[data-id="'+risposta['id']+'"]').removeClass('not-blacklisted').addClass('blacklisted');
						$('#overlay').attr("style","display:none");
						Ok=Ok+1;
					}

					if(type=='all' && risposta['cell']!='' && risposta['statuscell']=='ok' && risposta['statusid']=='ok'){
						$('#esterne tr.contatto-tr-title.not-blacklisted[data-cell="'+risposta['cell']+'"] .body-v').append('<div class="show-blacklist">Blacklistato ora</div>');
						$('#esterne tr.contatto-tr[data-cell="'+risposta['cell']+'"]').removeClass('not-blacklisted').addClass('blacklisted');

						$('#interne tr.contatto-tr-title.not-blacklisted[data-cell="'+risposta['cell']+'"] .body-v').append('<div class="show-blacklist">Blacklistato ora</div>');
						$('#interne tr.contatto-tr[data-cell="'+risposta['cell']+'"]').removeClass('not-blacklisted').addClass('blacklisted');
						$('#overlay').attr("style","display:none");
						Ok=Ok+1;
					}

					if(risposta['statuscell']=='ko' && risposta['statusid']=='ko' ){
						Ok=null;
						$('#overlay').attr("style","display:none");
					}

					if(Ok==0){
						alert('si è verificato un problema, riprovare o contattare il supporto tecnico di linkappeal');
						$('#overlay').attr("style","display:none");
					}else if(Ok==null){
						alert("Non è possibile blacklistare tutti gli elementi: CELLULARE NON PRESENTE! ");
						$('#overlay').attr("style","display:none");
					}
				},
				complete: function(){
				}
			});
			$(this).text('Blacklista tutti');

	});

         $(document).on('click', 'tr.not-blacklisted .blk-button-this', function(){
             var data_send = {};
             var count=1;
             if($(this).closest('#interne').length>0){
                 data_send["type"]="int";
                 data_send["id"] = $(this).closest('tr.not-blacklisted').attr('data-id');
                 data_send["cell"]= $(this).closest('tr.not-blacklisted').attr('data-cell');
             }else{
                 data_send['type']='est';
                 data_send['id'] = $(this).closest('tr.not-blacklisted').attr('data-id');
                 data_send['cell']=$(this).closest('tr.not-blacklisted').attr('data-cell');
                 //data_send['cell']='';
             }

             var url_bl = '{{admin.generateUrl('thisblacklist')}}';
             $(this).text('blacklistando');
			 $('#overlay').attr("style","display:block");

			 $.ajax({
                 url: url_bl,
                 data: data_send,
                 success: function(risposta){
                     console.log(risposta);
                     if(risposta['type']=='int'){
                         var type='interne';
                     }else{
                         var type='esterne';
                     }
                     var Ok=0;
                     if(risposta['id']!='' && risposta['statusid']=='ok'){
                         $('#'+type+' tr.contatto-tr-title.not-blacklisted[data-id="'+risposta['id']+'"] .body-v').append('<div class="show-blacklist">Blacklistato ora</div>');
                         $('#'+type+' tr.contatto-tr[data-id="'+risposta['id']+'"]').removeClass('not-blacklisted').addClass('blacklisted');
						 $('#overlay').attr("style","display:none");
                         Ok=Ok+1;

                     }
                     if(type=='interne' && risposta['cell']!='' && risposta['statuscell']=='ok'){
                         $('#'+type+' tr.contatto-tr-title.not-blacklisted[data-id="'+risposta['id']+'"] .body-v').append('<div class="show-blacklist">Blacklistato ora</div>');
                         $('#interne tr.contatto-tr[data-id="'+risposta['id']+'"]').removeClass('not-blacklisted').addClass('blacklisted');
						 $('#overlay').attr("style","display:none");
                         Ok=Ok+1;
                     }
                     if(risposta['statuscell']=='ko' && risposta['statusid']=='ko'){
						 Ok=null;
						 $('#overlay').attr("style","display:none");
					 }
                     if(Ok==0){
                         alert('Si è verificato un problema, riprovare o contattare il supporto tecnico di linkappeal');
						 $('#overlay').attr("style","display:none");
                     }else if(Ok==null){
						 alert("Non è possibile blacklistare questo elemento: CELLULARE NON PRESENTE! ");
						 $('#overlay').attr("style","display:none");
					 }

                 },
                 complete: function(){
                 }
             });
			 $(this).text('Blacklista questo record');

         });


		 $(document).on('click', 'tr.blacklisted .blk-button-rev-this', function(){
			 var data_send = {};
			 var count=1;
			 if($(this).closest('#interne').length>0){
				 data_send["type"]="int";
				 data_send["id"] = $(this).closest('tr.blacklisted').attr('data-id');
				 data_send["cell"]= $(this).closest('tr.blacklisted').attr('data-cell');
			 }else{
				 data_send['type']='est';
				 data_send['id'] = $(this).closest('tr.blacklisted').attr('data-id');
				 data_send['cell']=$(this).closest('tr.blacklisted').attr('data-cell');
				 //data_send['cell']='';
			 }

			 var url_bl = '{{admin.generateUrl('thisrevblacklist')}}';
			 $(this).text('rimuovendo');
			 $('#overlay').attr("style","display:block");
			 $.ajax({
				 url: url_bl,
				 data: data_send,
				 success: function(risposta){
					 console.log(risposta);
					 if(risposta['type']=='int'){
						 var type='interne';
					 }else{
						 var type='esterne';
					 }
					 var Ok=0;
					 if(risposta['id']!='' && risposta['statusid']=='ok'){
						 $('#'+type+' tr.contatto-tr-title.blacklisted[data-id="'+risposta['id']+'"] .show-blacklist').remove();
						 $('#'+type+' tr.contatto-tr[data-id="'+risposta['id']+'"]').removeClass('blacklisted').addClass('not-blacklisted');
						 $('#overlay').attr("style","display:none");
						 Ok=Ok+1;
					 }

					 if(type=='interne' && risposta['cell']!='' && risposta['statuscell']=='ok'){
						 $('#'+type+' tr.contatto-tr-title.blacklisted[data-id="'+risposta['id']+'"] .show-blacklist').remove();
						 $('#interne tr.contatto-tr[data-id="'+risposta['id']+'"]').removeClass('blacklisted').addClass('not-blacklisted');
						 $('#overlay').attr("style","display:none");
						 Ok=Ok+1;
					 }
					 if(Ok==0){
						 alert('si è verificato un problema, riprovare o contattare il supporto tecnico di linkappeal');
                         $('#overlay').attr("style","display:none");
					 }

				 },
				 complete: function(){
				 }
			 });
			 $(this).text('Rimuovi questo record dalla blacklist');
		 });



	$(document).on('click', 'tr.blacklisted .blk-button-rev', function(){
		var data_send = {};
			var count=1;
			if($(this).closest('#interne').length>0 || $(this).closest('#esterne').length>0) {
				data_send["id"] = $(this).closest('tr.blacklisted').attr('data-id');
				data_send["cell"] = $(this).closest('tr.blacklisted').attr('data-cell');
				data_send["type"] = "all";
			}
			// if($(this).closest('#interne').length>0){
			// 	data_send["type"]="int";
			// 	data_send["id"] = $(this).closest('tr.blacklisted').attr('data-id');
			// 	data_send["cell"]= $(this).closest('tr.blacklisted').attr('data-cell');
			// }else{
			// 	data_send['type']='est';
			// 	data_send['id'] = $(this).closest('tr.blacklisted').attr('data-id');
			// 	data_send['cell']=$(this).closest('tr.blacklisted').attr('data-cell');
			// 	//data_send['cell']='';
			// }

			var url_bl = '{{admin.generateUrl('revblacklist')}}';
			$(this).text('rimuovendo');
			$('#overlay').attr("style","display:block");

			$.ajax({
				url: url_bl,
				data: data_send,
				success: function(risposta){
					console.log(risposta);
					if(risposta['type']=='all'){
						var type='all';
					}

					var Ok=0;
					// if(risposta['id']!='' && risposta['statusid']=='ok'){
					// 	$('#'+type+' tr.contatto-tr-title.blacklisted[data-id="'+risposta['id']+'"] .show-blacklist').remove();
					// 	$('#'+type+' tr.contatto-tr[data-id="'+risposta['id']+'"]').removeClass('blacklisted').addClass('not-blacklisted');
					// 	$('#overlay').attr("style","display:none");
					// 	Ok=Ok+1;
					// }

					if(type=='all' && risposta['cell']!='' && risposta['statuscell']=='ok' && risposta['statusid']=='ok'){
						$('#esterne tr.contatto-tr-title.blacklisted[data-cell="'+risposta['cell']+'"] .show-blacklist').remove();
						$('#esterne tr.contatto-tr[data-cell="'+risposta['cell']+'"]').removeClass('blacklisted').addClass('not-blacklisted');
						$('#interne tr.contatto-tr-title.blacklisted[data-cell="'+risposta['cell']+'"] .show-blacklist').remove();
						$('#interne tr.contatto-tr[data-cell="'+risposta['cell']+'"]').removeClass('blacklisted').addClass('not-blacklisted');
						$('#overlay').attr("style","display:none");
						Ok=Ok+1;
					}
					if(Ok==0){
						alert('si è verificato un problema, riprovare o contattare il supporto tecnico di linkappeal');
                        $('#overlay').attr("style","display:none");
					}

				},
				complete: function(){
				}
			});
			$(this).text('Rimuovi tutti dalla blacklist');
	});


	function check_fields_ok(){
		var ok=true;
		$('.error').remove();
		var count=0;
		$('.search-row-blk.active').each(function(){
			count=count+1;
			if(count==1){
				selectValue=$(this).find('select.sceglicampo').val();
			}else{
				//se i select hanno stesso vlore dai errore
				if($(this).find('select.sceglicampo').val()==selectValue){
					ok=false;
					$(this).append('<div class="error">i campi su cui cercare non possono essere gli stessi');
				}
			}
			
			if ($(this).find('.value-blk').val()==''){
				ok=false;
				$(this).append('<div class="error">il campo non pu&ograve; essere vuoto');
			}
		});
		return ok;
	}

		 function check_fields_ok_all(){
			 var ok=true;
			 $('.error').remove();
			 var count=0;
			 $('.search-row-blk.active').each(function(){
				 count=count+1;
				 if(count==1){
					 selectValue=$(this).find('select.sceglicampo').val();
				 }else{
					 //se i select hanno stesso vlore dai errore
					 if($(this).find('select.sceglicampo').val()==selectValue){
						 ok=false;
						 $(this).append('<div class="error">i campi su cui cercare non possono essere gli stessi');
					 }
				 }

				 if ($(this).find('.value-blk').val()==''){
					 ok=false;
					 $(this).append('<div class="error">il campo non pu&ograve; essere vuoto');
				 }
			 });
			 return ok;
		 }
	
	function show_message (htmlstring, classname, id){
		//printo il messaggio
		$('.panel-message').html(htmlstring).slideDown();
		//effettuo modifiche grafiche al listato
		if($('#cc_row_' + id).length>0){
			$('#cc_row_' + id).addClass(classname);
			if(classname=='MisDel'){
				
				setTimeout(function(){ $('#cc_row_' + id).fadeOut('slow').remove() }, 2400);
			}
		}
		
	}
	</script>
	<!-- finestra modale -->
	<div class="modal fade" id="confirm">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
			<h5 class="modal-title">Conferma di eliminazione Cron: <span class="id_cc-modal"></span></h5>
		  </div>
		  <div class="modal-body">
			<p>Sei sicuro di voler eliminare cron  <strong class="modal-nomemiscelata"></strong> (id: <span class="id_cc-modal"></span>)?</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal" id="delete">Si, Elimina</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
		  </div>
		</div>
	  </div>
	</div>
</div> <!-- /container-fluid -->
{% endblock %}

