{% extends base_template %}

        {% block stylesheets %}
            {{ parent() }}
                {% stylesheets
                        'css/style.css'
                        'css/data_tables/style-table.css'
                %}
					<link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
					<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
                {% endstylesheets %}
			
				<style>
					.no-padding{padding:0!important;}
					.selectable{width: 100%;padding:8px;position: relative;cursor:pointer;}
					.btnover{ position: relative; margin: 10 auto;	}
					.overbox{display: none; background: rgba(0, 136, 204, 0.5); position: absolute; top: 0; left: 0; width: 100%;text-align: center; padding:5px;}
					.color-deactive{color: red;}
					.color-active{color: green; }
					.form-group input {width: 450;}
					.form-group {margin-top: 10px;}
					.principale{background: #fafafa;border: solid 1px #eee;padding:20px;}
					.border-left{border-left: solid 2px #3498db;}
					.box-submit{margin-top:20px;}
					#listatoCC_wrapper{    margin-top: 20px;}
					.btn-addnew {margin-top: 20px;}
					table#listatoCC td{vertical-align: middle;}
					.disattivo_label{ color: red; font-weight: bold;}
					.attivo_label{ color: green;  font-weight: bold;}
					.tail_screenshot{
							-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
							-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
							box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
							position: absolute;
							float: left;
							z-index:9999;
						}
					.noLanding{
							background-color: #fff;
							padding: 10px; 
							-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
							-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
							box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
						}
					.mini-loader {
							border: 10px solid #f3f3f3; /* Light grey */
							border-top: 10px solid #3498db; /* Blue */
							border-radius: 50%;
							width: 50px;
							height: 50px;
							animation: spin 2s linear infinite;
						}

						@keyframes spin {
							0% { transform: rotate(0deg); }
							100% { transform: rotate(360deg); }
						}
						.hidden-tablehead{font-weight: bold;}
						.hidden-tablehead.info-pup{font-weight: bold; background-color: #ececec;}
						.gruppo_ordini{ position: absolute;	width: 350px; background-color: #FFF; padding: 15px; border: 1px solid #337ab7; z-index: 9999;	right: 0;
										-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
										-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
										box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
										}
										
						.panel-message{padding: 15px; background-color: #00a66973; text-align: center; font-size: 18px; cursor: pointer;}
						
						tr.MisCrea {
						  -webkit-animation-name: miscrea; /* Safari 4.0 - 8.0 */
						  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
						  -webkit-animation-iteration-count: 1;
						  -webkit-animation-delay: 0.4s;
						  animation-name: miscrea;
						  animation-duration: 3s;
						  animation-iteration-count: 1;
						  animation-delay: 0.4s;
						}

						/* Safari 4.0 - 8.0 */
						@-webkit-keyframes miscrea {
						  from {background-color:#00a669f2;}
						  to {background-color: #00a66900;}
						}

						/* Standard syntax */
						@keyframes miscrea {
						  from {background-color:#00a669f2;}
						  to {background-color: #00a66900;}
						}
						
						@-webkit-keyframes mismod {
						  from {background-color:#00a66973 rgba(196,45,45,1);}
						  to {background-color: rgba(196,45,45,0);}
						}

						/* Standard mismod */
						@keyframes mismod {
						  from {background-color: red;}
						  to {background-color: yellow;}
						}
						tr.MisDel {
						  -webkit-animation-name: misdel; /* Safari 4.0 - 8.0 */
						  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
						  -webkit-animation-iteration-count: 1;
						  -webkit-animation-delay: 0.4s;
						  animation-name: misdel;
						  animation-duration: 2s;
						  animation-iteration-count: 1;
						  animation-delay: 0.4s;
						}
						@-webkit-keyframes misdel {
						  from {background-color:rgba(196,45,45,1);}
						  to {background-color: rgba(196,45,45,0);}
						}

						/* Standard misdel */
						@keyframes misdel {
						  from {background-color: rgba(196,45,45,1);}
						  to {background-color: rgba(196,45,45,0);}
						}
						
						tr.MisMod {
						   -webkit-animation-name: mismod; /* Safari 4.0 - 8.0 */
						  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
						  -webkit-animation-iteration-count: 1;
						  -webkit-animation-delay: 0.4s;
						  animation-name: mismod;
						  animation-duration: 3s;
						  animation-iteration-count: 1;
						  animation-delay: 0.4s;
						}
						@-webkit-keyframes mismod {
						  from {background-color:#ffa500;}
						  to {background-color: #ffa50000;}
						}

						/* Standard mismod */
						@keyframes mismod {
						  from {background-color: #ffa500;}
						  to {background-color: #ffa50000;}
						}
						
						tr.assegna {background-color:#00800040;}
						tr.black {background-color:#ff000040;}
						
				</style>
        {% endblock %}
        {% block content %}
	<div class="container-fluid">

		<div class="row">
			<div class="row principale">
				<div class="col-md-10">
					<h2 class="title-box">Recheck Sms</h2>
					<h5><b>N.B.: </b>nel caso la lista e il link privacy siano esterni, non effettuare il blacklist.</h5>
				</div>
				<div class="col-md-12 panel-message" onclick="hideMessage()" style="display: none;clear:left;"></div>
			</div>
			{% if replies is not empty %}
			<table id="listatoCC" class="table table-bordered table-hover" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>ID</th><th>Campagna</th><th>Cellulare</th><th>Data</th><th>Risposta</th><th>Azioni</th>
					</tr>
				</thead>
				<tbody>
					
						
			{% for replie in replies %}
					<tr id="cc_row_{{  replie['id'] }}" data-replieid="{{  replie['id'] }}">
					<td>
						<div class="red-{{  replie['id'] }}-id">{{  replie['id'] }}</div>
					</td>
					<td>
						<div class="red-{{  replie['id'] }}-nome">{{  replie['campagna'] }}</div>
					</td>
					<td>
						{{  replie['cellulare'] }}
					</td>
					<td>
						{{  replie['data'] }} 
						
					</td>
					<td>
						<b>{{  replie['risposta'] }}</b>
					</td>
					<td>
						<select class="actionselect" name="action">
							<option value="niente">Niente</option>
							<option value="assegna">Assegna</option>
							<option value="black">Blacklista</option>
						</select>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<button type="button"  id="gorecheck" class="btn btn-primary">Invia al recheck</button>
		{% else %}
			<div style="margin-top:25px;"><b>Nessun messaggio da controllare</b></div>
		{% endif %}
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
	<script src="https://cdn.datatables.net/fixedcolumns/3.2.3/js/dataTables.fixedColumns.min.js"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script>
		 function hideMessage(){
			$('.panel-message').slideUp();
		 }
		 
		$(document).on('change', 'select.actionselect', function(){
			$(this).closest('tr').removeClass('assegna, black').addClass($(this).val());
		});
		
		
		$(document).on('click', '#gorecheck', function(){
		if($('tr.assegna').length>0 || $('tr.black').length>0){
			$('#confirm .modal-body').html($('<p>Conferma il recheck<br> lead da blacklistare: <b>'+ $('tr.black').length+'</b><br> lead da assegnare: <b>'+$('tr.assegna').length+'</b></p>'));

			$('#confirm').modal({
			  backdrop: 'static',
			  keyboard: false
			});
		}else{
			$('#confirm .modal-body').html($('<p><span style="color:red;">Non è stato rilevato nessun cambiamento nello stato dei messaggi, nessun messaggio verra ne blacklistato ne assegnato!</span></p>'));
			$('#confirm').modal({
			  backdrop: 'static',
			  keyboard: false
			});
		}
			
		});
		$(document).on('click', '#conferma', function(){
			Invia_al_recheck();
		});
		
		
		function Invia_al_recheck(){
			var url_del = '{{admin.generateUrl('setrecheck')}}';
			var toblacklisted="";
			var toassign="";
			var all="";
			$('tbody tr').each(function(){
				var valore=$(this).find('select.actionselect').val();
				if(valore=="black"){
					toblacklisted=toblacklisted+$(this).attr('data-replieid')+",";
				}else if(valore=="assegna"){
					toassign=toassign+$(this).attr('data-replieid')+",";
				}
				all=all+$(this).attr('data-replieid')+",";
			});
			if(toblacklisted!=""){toblacklisted=toblacklisted.substring(0, toblacklisted.length - 1);}
			if(toassign!=""){toassign=toassign.substring(0, toassign.length - 1);}
			if(all!=""){all=all.substring(0, all.length - 1);}
			data_send = {	black		: toblacklisted, 
							assegna		: toassign,
							all 		: all
						};
			var url_s = '{{admin.generateUrl('setrecheck')}}';
			$.ajax({url: url_s,
					data: data_send,
					success: function(inserito){
						$('#listatoCC').remove();
						$('#gorecheck').remove();
						
						show_message('Settaggio recheck effettuato<br><small>reload in corso</small>');
						setTimeout(function(){ window.location.href = "{{admin.generateUrl("recheck")}}"; }, 3000);
						
					},
					 complete: function(){
					}
				});
			
			
		}
		 
	$(function() {
		var ajaxrun = false;
	
			{% if messaggio %}
				show_message({{ messaggio}});
			{% endif %}
				
			
	})
	
	function show_message (htmlstring){
		//printo il messaggio
	var message=$('<p>'+htmlstring+'</p>');
		$('.panel-message').html(message).slideDown();
		//effettuo modifiche grafiche al listato
	}
	</script>
	<!-- finestra modale -->
	<div class="modal fade" id="confirm">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
			<h5 class="modal-title">Conferma operazione</h5>
		  </div>
		  <div class="modal-body">
			<p>Non è stato rilevato nessun cambiamento nello stato dei messaggi, nessun messaggio verra ne blacklistato ne assegnato!</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal" id="conferma">Conferma recheck</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
		  </div>
		</div>
	  </div>
	</div>
</div> <!-- /container-fluid -->
{% endblock %}

